@import "./_variables.scss";
@import "./mixins";

.container {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 3;
  height: 55px;
  background: $primary-gradient-linear;
  margin: 0 auto;
  box-shadow: $card-box-shadow;

  @media only screen and (max-width: 599px) {
    display: none;
  }
}

.navContainer {
  max-width: 1200px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

  .link {
    position: relative;
    color: $secondary;
  }

  [data-active="true"] {
    border-bottom: 2px solid;
  }

  .logo {
    width: 250px !important;
    height: 52px !important;
    background-color: transparent;
  }

}

.cartLink {
  position: relative;
  color: $secondary;
  padding: 5px;

}

.cartNumber {
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -7px;
  left: 20px;
  background-color: $accent;
  color: $primary-light;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.cartModal {
  position: absolute;
}



.login {
  display: flex;
  color: $secondary;
  gap: 0.5rem;

  .loginBTN {
    &:hover {
      background-color: $accent !important;
      color: $primary-light;
    }
  }

  .loginDialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #fff;
    top: 20px;
    width: 250px;
    border-radius: 15px;
    box-shadow: $card-box-shadow;
    gap: 10px;

    a {
      display: flex;
      align-items: center;
      color: $primary;
      font-weight: 600;
      height: 30px;
      font-size: 1.1rem;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }

    p {
      text-align: center;
      color: $primary;
      font-weight: 600;
    }

    button {
      background-color: $contrast;
      color: white;
      padding: 0.7rem 0;
      border: none;
      cursor: pointer;
    }
    
  }



 
}
.dialogHeader {
  position: relative;
  background-color: $body;
  display: flex;
  flex-direction: column;
  width: 600px;
  border-radius: 15px;

  svg {
    position: absolute;
    top: 65px;
    z-index: 1;
    // height: 60px;
    // width: 100%;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondary;
    padding: 0 1rem;
    margin-bottom: 1rem;
    


    .close {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary;
      width: 35px;
      height: 35px;
      color: $secondary;
      border-radius: 50%;
      cursor: pointer;
    }
    
  }

  .form {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .inputContainer {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

     @include form-input;
    }

    .loginBTN {
      padding: 1rem 0;
      border: none;
      border-radius: 10px;
      background-color: $delivered;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      font-size: 1rem;
    }

    .signupBTN {
      padding: 1rem 0;
      border: none;
      border-radius: 10px;
      background-color: $primary-light;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      font-size: 1rem;
    }
  }
}